body{
    background-color: #403F48;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
    font-family: Arial Black,Arial Bold,Gadget,sans-serif; 
}

.row{
    display: flex;
    align-items: stretch;
    color: white;
}

.container{
    text-align: center;
}

.main_img{
    width: 80%;
    height: 80%;
}

.top{
    justify-content: space-between;
}

.buttom{
    flex-wrap:wrap;
    justify-content:center;
}

.center{
    margin-top: 10%;
    border-top: 100% solid #403F48;
}

.icon{
    border-radius: 5px;
    width: 3em;
    height: 3em;
}
.item{
    font-size: 12px;
}

.not_center{
    margin: 20px 15px;

    font-size: 2vh;
}

input{
    width: 93%;
    max-height: 95%;
    font-size: 12pt;
    padding-left: 10px;
    border: 0px;
    outline: none;
}

.for-icon{
    margin: 10px 19px 10px 19px;
    width: 40px;
    height: 40px;
}

.input-container{
    width: 55%;
    margin: 25px 23.5% 40px 23.5%;
    background-color: white;
    border-radius: 15px;
    flex-wrap:nowrap;
    display: inline-flex;
    height: 30px;
    justify-content:space-between;
}

.head{
    flex-direction: column;
}

.grow{
    transition: transform .2s;
}

.grow:hover {
    transform: scale(1.05); 
}

a{
    color: white;
    text-decoration: none;
}

.gg-search {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 16px;
    height: 16px;
    border: 2px solid;
    border-radius: 100%;
    color: black;
    transform: rotate(90deg);
    top: 4px;
    left: 10px;
}
.gg-search::after {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    border-radius: 3px;
    width: 2px;
    height: 8px;
    background: currentColor;
    transform: rotate(-45deg);
    top: 10px;
    left: 12px
}

.serch-button{
    height: 100%;
    width: 7%;
}