body{
    background-color: #403F48;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none; 
}

.row{
    display: flex;
    align-items: stretch;
    color: white;
}

.container{
    text-align: center;
}

.main_img{
    width: 80%;
    height: 80%;
}

.top{
    justify-content: space-between;
}

.buttom{
    flex-wrap:wrap;
    justify-content:center;
}

.center{
    margin-top: 10%;
    border-top: 100% solid #403F48;
}

.icon{
    border-radius: 5px;
    width: 35px;
    height: 35px;
}
.item{
    font-size: 12px;
}

.not_center{
    margin: 20px 15px;

    font-size: 2vh;
}

input{
    width: 95%;
    max-height: 95%;
    font-size: 12pt;
    padding-left: 10px;
    border: 0px;
    outline: none;
}

.for-icon{
    margin: 10px 20px 10px 20px;
    width: 40px;
    height: 40px;
}

.input-container{
    width: 55%;
    margin: 25px 23.5% 40px 23.5%;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 15px;
    flex-wrap:nowrap;
    display: inline-flex;
    height: 30px;
}

.head{
    flex-direction: column;
}

.serch-button{
    height: 100%;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
}

.grow:hover {
    transition-duration: 200ms;
    -webkit-transform: scale(1.4);
    -ms-transform: scale(1.4);
    transform: scale(1.4);
  }
